<div class="page-header header1">
  Dashboard
</div>
<div class="container-fluid sub-page">
  <div class="row-fluid">
    <div class="col-xs-12 page-box">
      <% if current_user.admin  %>
        <div id="index" class="header1">
          Aspirant leden VVPAO
        </div>
        <div class="container-fluid">
          <div class="row-fluid">
            <table>
              <tr class="userlist">
                <th>Naam</th>
                <th>Email</th>
                <th>Telefoonnummer</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <% @newusers.each do |u| %>
                <tr class="userlist">
                  <td>
                    <%= u.last_name  %>, <%= u.first_name %> <%= u.tussenvoegsel %>
                  </td>
                  <td>
                    <%= u.email %>
                  </td>
                  <td>
                    <%= u.phonenumber %>
                  </td>
                  <td>
                    <div class="div-knop-small">
                    <%= link_to 'details', user_path(u.id), class: 'knop-small' %>
                    </div>
                  </td>
                  <td>
                    <div class="knop-small" data-toggle="modal" data-target="#activate">
                      activeer
                    </div>
                    <% @user = u %>
                    <%= render 'partials/activate-user' %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div id="index" class="header1">
          leden VVPAO
        </div>
        <div class="container-fluid">
          <div class="row-fluid">
            <table>
              <tr class="userlist">
                <th>Naam</th>
                <th>Email</th>
                <th>Telefoonnummer</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <% @members.each do |u| %>
                <tr class="userlist">
                  <td>
                    <%= u.last_name  %>, <%= u.first_name %> <%= u.tussenvoegsel %>
                  </td>
                  <td>
                    <%= u.email %>
                  </td>
                  <td>
                    <%= u.phonenumber %>
                  </td>
                  <td>
                    <div class="div-knop-small">
                    <%= link_to 'details', user_path(u.id), class: 'knop-small' %>
                    </div>
                  </td>
                  <td>
                    <div class="knop-small" data-toggle="modal" data-target="#de-activate">
                      disable
                    </div>
                    <% @user = u %>
                    <%= render 'partials/de-activate-user' %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div id="index" class="header1">
          lijsten aanpassen
        </div>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="knop" data-toggle="modal" data-target="#expertises">
              Expertises
              <%= render 'partials/expertises'  %>
            </div>
            <br>
            <div class="row-fluid">
              <div class="knop" data-toggle="modal" data-target="#targetaudiences">
                Patientengroepen
              </div>
              <%= render 'partials/target-audiences' %>
            </div>
          </div>
        </div>
      <% else %>
       Niet ge-autoriseerd!
      <% end %>
    </div>
  </div>
</div>
