.container
  .row
    .col-md-8
      .nieuws-item-show
        %h3= @cms_post.title
        .date
          = @cms_post.published_at.day
          = t("date.month_names")[@cms_post.published_at.month]
          = @cms_post.published_at.year
        .tekst
          = @cms_post.content_cache.html_safe

      = link_to "Nieuwsberichten", comfy_blog_posts_path(@cms_site.path), class: "knop knop-linksonder-home-inner-box"
