<%= simple_form_for @user, wrapper: :horizontal_form do |f| %>

  <div class="form-inputs">
    <input type="hidden" name="user[lat]" id="input-lat" value="<%= @user.lat %>">
    <input type="hidden" name="user[lng]" id="input-lng" value="<%= @user.lng %>">
    <%= f.input :practice_street, label: "Straat & huisnr. ", input_html: { class: 'input-straat' }, required: false %>
    <%= f.input :practice_postalcode, label: "Postcode", input_html: { class: 'input-postcode' }, required: false  %>
    <%= f.input :practice_city, label: "Stad", input_html: { class: 'input-plaats' }, required: false  %>
    <%= f.input :practice_email, label: "emailadres praktijk", required: false  %>
    <%= f.input :website, required: false, placeholder: "www.domain.nl"  %>
    <%= f.input :practice_phonenumber, label: "Tel. Nummer praktijk", required: false  %>
    <%= f.input :newregistrations, label: "Neem nieuwe patienten aan", required: false  %>
    <%= f.association :targetaudience, label: "Patientengroep", required: false  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Bewaar", class: "knop" %>
  </div>
<% end %>


