<div class="modal" id="expertises" tabindex="-1" role="dialog" aria-labelledby="expertises" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Lijst van Expertises
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@expertise, url: expertises_path, html: { method: :post }, wrapper: :horizontal_form) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs" style="display: flex">
            <%= f.input :name, placeholder: "Nieuwe expertise naam", label: false, input_html: { class: 'expertise-input' } %>
            <%= f.button :submit, "Bewaar", class: "knop" %>
          </div>

          <div class="form-actions">
          </div>
        <% end %>
        <div class="lijst">
          <table>
            <% @expertises.each do |e| %>
              <tr class="userlist">
                <td>
                  <%= e.name %>
                </td>
                <td>
                  <%= link_to "verwijder", expertise_path(e.id), data: { confirm: "verwijder expertise #{e.name}?" }, method: :delete, class: "knop-small" %></p>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="knop" data-dismiss="modal">annuleer</button>
      </div>
    </div>
  </div>
</div>


















