  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Gegevens van <%= @user.first_name %> <%= @user.initials %> <%= @user.tussenvoegsel %> <%= @user.last_name %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <% if user_signed_in? || @user.personal_data_public %>
        <div class="home-inner-box">
          <div class="header1">Persoonlijke gegevens</div>
          <div class="text-box-l">
            <%= @user.street %> <%= @user.streetnumber %><br>
            <%= @user.postalcode %> <%= @user.city %><br>
            <br>
            <%= @user.email %> <br>
            Tel. nr. <%= @user.phonenumber %><br>
            BIG: <%= @user.big %><br>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? || @user.practice_data_public %>
        <div class="home-inner-box">
          <div class="header1">Praktijk gegevens</div>
          <div class="text-box-l">
            <%= render "partials/show_expertises" %><br>
            <%= @user.practice_name %><br>
            <%= @user.practice_street %> <%= @user.practice_streetnumber %><br>
            <%= @user.practice_postalcode %> <%= @user.practice_city %> <br>
            Email: <%= @user.practice_email %> <br>
            Website: <%= link_to @user.website, "http://#{@user.website}", class: "practice-link", target: "_blank" %> <br>
            Tel. nr. <%= @user.practice_phonenumber %><br>
            <% if @user.newregistrations %>
              Er worden nieuwe patienten aangenomen (informatie over eventuele wachttijden zijn beschikbar op de site van de praktijk).
            <% else %>
              Er worden (voorlopig) geen nieuwe patienten aangenomen
            <% end %>
            Patientengroep: <%= @user.targetaudience.name %><br>
            <br>
            De parktijk heeft
            <% if @user.contract%>
               een
            <% else %>
              geen
            <% end %>
            contract met een zorgverzekeraar.
          </div>
        </div>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="knop" data-dismiss="modal">sluit</button>
      </div>
    </div>
  </div>

