  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Gegevens van <%= @user.first_name %> <%= @user.initials %> <%= @user.tussenvoegsel %> <%= @user.last_name %>
        <button type="button"
        Gegevens van  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="home-inner-box">
          <div class="header1">Persoonlijke gegevens</div>
          <div class="text-box-l">
            <%= @user.street %> <%= @user.streetnumber %><br>
            <%= @user.postalcode %> <%= @user.city %><br>
            <br>
            <%= @user.email %> <br>
            Tel. nr. <%= @user.phonenumber %><br>
            BIG: <%= @user.big %><br>
          </div>
        </div>
        <div class="home-inner-box">
          <div class="header1">Praktijk gegevens</div>
          <div class="text-box-l">
            Expertise: <%= @user.expertise.name %><br>
            Patientengroep: <%= @user.targetaudience.name %><br>
            <%= @user.practice_name %><br>
            <%= @user.practice_street %> <%= @user.practice_streetnumber %><br>
            <%= @user.practice_postalcode %> <%= @user.practice_city %><br>
            <br>
            Email: <%= @user.practice_email %> <br>
            Website: <%= link_to @user.website, @user.website %> <br>
            Tel. nr. <%= @user.practice_phonenumber %><br>
            <% if @user.newregistrations %>
              Wachttijd voor nieuwe patienten:  <%= @user.waitingperiod %> <br>
            <% else %>
              Er worden (voorlopig) geen nieuwe patienten aangenomen
            <% end %>
          </div>
        </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="knop" data-dismiss="modal">terug</button>
      </div>
    </div>
  </div>

