<div class="footer footer-browser hidden-xs">
  <div class="footer-text-blok">
    <%= link_to root_path, class: "navbar-main-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      VVPAO Amsterdam
    </div>
    <p class="info-header-foot-text">
      Vereniging van Vrijgevestigd Psychiaters<br>Amsterdam en Omstreken
    </p>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      Secretariaat VVPAO
    </div>
    <p class="info-header-foot-text">Henriëtte Roland Holststraat 19<br>1064TS Amsterdam<br>
    <a href="mailto:info@vvpao.amsterdam">
      <span class="info-header-foot-text">
      info@vvpao.amsterdam
      </span>
    </a>
  </div>
  <div class="footer-text-blok">
    <!-- <a href="http://eepurl.com/cOAVd5"> -->
      <p class="info-header-foot-text">
        Schrijf u hier in voor onze nieuwsbrief:
      </p>
    <!-- </a> -->
    <%= link_to "Inschrijven", "http://eepurl.com/cOAVd5", class: "navbarlink leden" %>
  </div>
</div>
<!-- footer on mobile -->
<div class="footer footer-mobile hidden-sm hidden-md hidden-lg">
  <div class="footer-text-blok">
    <%= link_to root_path, class: "navbar-main-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      VVPAO Amsterdam
    </div>
    <p class="info-header-foot-text">
      Vereniging van Vrijgevestigd Psychiaters<br>Amsterdam en Omstreken
    </p>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      Secretariaat VVPAO
    </div>
    <p class="info-header-foot-text">Henriëtte Roland Holststraat 19<br>1064TT Amsterdam<br>
    <a href="mailto:info@vvpao.amsterdam">
      <span class="info-header-foot-text">
      info@vvpao.amsterdam
      </span>
    </a>
  </div>
  <div class="footer-text-blok">
    <!-- <a href="http://eepurl.com/cOAVd5"> -->
      <p class="info-header-foot-text">
        Schrijf u hier in voor onze nieuwsbrief:
      </p>
    <!-- </a> -->
    <%= link_to "Inschrijven", "http://eepurl.com/cOAVd5", class: "navbarlink leden" %>
  </div>
</div>
