<div class="navbar-main">
  <!-- Logo -->
  <div class="navbar-section hidden-xs">
    <%= link_to root_path, class: "navbar-main-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <div class="navbar-item">
      <%= link_to "Home", root_path, class: "navbarlink" %>
    </div>
    <div class="navbar-item">
      <div class="dropdown">
        <span class="dropdown-toggle navbarlink" data-toggle="dropdown">Algemeen</span>
        <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
          <li>
            <%= link_to "Over VVPAO", "/informatie", class: "" %>
          </li>
          <li>
            <%= link_to "Bestuur", "/informatie#bestuur", class: "" %>
          </li>
          <li>
            <%= link_to "Links", "/informatie#links", class: "" %>
          </li>
          <li>
            <%= link_to "Klachten", "/klachten", class: "" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-item">
      <%= link_to "Psychiaters", psychiaters_path, class: "navbarlink" %>
    </div>
    <div class="navbar-item">
      <%= link_to "Lidmaatschap", "/lidmaatschap", class: "navbarlink" %>
    </div>
    <div class="navbar-item">
      <%= link_to "Nieuws", "/blog", class: "navbarlink" %>
    </div>
    <div class="navbar-item">
      <div class="dropdown">
        <span class="dropdown-toggle navbarlink" data-toggle="dropdown">Nascholing</span>
        <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
          <li>
            <%= link_to "2019", "/nascholing-2019" %>
          </li>
          <li>
            <%= link_to "2018", "/nascholing-2018" %>
          </li>
          <li>
            <%= link_to "2017", "/nascholing-2017" %>
          </li>
          <li>
            <%= link_to "2016", "/nascholing-2016" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-item">
      <%= link_to "Contact", "/contact", class: "navbarlink" %>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle fa-size" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-dropdown-menu">
        <li>
          <%= link_to "home", root_path, class: "" %>
        </li>
        <li>
          <%= link_to "Over VVPAO", "/informatie#bestuur", class: "" %>
        </li>
        <li>
          <%= link_to "Bestuur", "/informatie#bestuur", class: "" %>
        </li>
        <li>
          <%= link_to "Links", "/informatie#bestuur", class: "" %>
        </li>
        <li>
          <%= link_to "Klachten", "/klachten", class: "" %>
        </li>
        <li>
          <%= link_to "Psychiaters", psychiaters_path, class: "navbarlink" %>
        </li>
        <li>
          <%= link_to "Lidmaatschap", "/lidmaatschap", class: "navbarlink" %>
        </li>
        <li>
          <%= link_to "Nieuws", "/blog", class: "navbarlink" %>
        </li>

        <li>
          <%= link_to "nascholing 2019", "/nascholing-2019" %>
        </li>
        <li>
          <%= link_to "nascholing 2018", "/nascholing-2018" %>
        </li>
        <li>
          <%= link_to "nascholing 2017", "/nascholing-2017" %>
        </li>
        <li>
          <%= link_to "nascholing 2016", "/nascholing-2016" %>
        </li>
        <li>
          <%= link_to "Contact", "/contact", class: "navbarlink" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="hidden-sm hidden-md hidden-lg">
    <%= image_tag "logo.png", class: "logo-navbar-mobile" %>
  </div>
  <div class="navbar-right hidden-xs">

    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-item" id="dropdown-hover">
        <div class="dropdown" >

          <% if current_user.profile_image_filename %>
            <%= image_tag current_user.profile_image_filename, class: "avatar dropdown-toggle", id: "navbar-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "user-default.png", class: "avatar dropdown-toggle", id: "navbar-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu breed">
            <li>
              <%= link_to users_path do %>
                <i class="fas fa-list-ul"></i> Leden
              <% end %>
            </li>
            <li>
              <%= link_to "/agenda" do %>
                <i class="fa fa-calendar" aria-hidden="true"></i> Agenda
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profielpagina") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path(current_user) do %>
                <i class="fa fa-user"></i> login gegevens
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-al"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <% if current_user.admin %>
              <li>
                <%= link_to dashboard_path do %>
                  <i class="fas fa-tachometer-alt"></i>  dashboard
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Leden login", new_user_session_path, class: "navbarlink leden" %>
    <% end %>
  </div>
  <div class="navbar-item hidden-sm hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle fa-size" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
              <li>
                <%= link_to users_path do %>
                  <i class="fas fa-list-ul"></i> Leden
                <% end %>
              </li>
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profielpagina") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path(current_user) do %>
                  <i class="fa fa-user"></i> login gegevens
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
              <% if current_user.admin %>
                <li>
                  <%= link_to dashboard_path do %>
                    <i class="fas fa-tachometer-alt"></i>  dashboard
                  <% end %>
                </li>
              <% end %>
        </ul>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Leden login", new_user_session_path, class: "navbarlink leden" %>
    <% end %>
  </div>
</div>

